.homepage-img {
  background-image: url("/public/images/image014.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.quote {
  max-width: 450px;
  font-style: italic;
  font-size: 20px;
}

@media only screen and (max-width: 900px) {
  .quote {
    font-size: 14px;
  }
}

@media only screen and (min-width: 1300px) {
  .quote {
    font-size: 23px;
    max-width: 550px;
  }
}
