footer {
    position: absolute;
    bottom: 0;
    left:0;
    right: 0;

}

footer li {
    list-style-type:none;
}

footer a,
footer button{
    color: var(--bs-pink) !important;
}

footer button:active,
footer a:active{
    color: var(--bs-primary) !important;
}