:root {
  --primary-bg-color: #002233;
  --secondary-bg-color: #002f5c;
  --text-color: #c8c8c8;
  --accent-color: salmon;
}

* {
  box-sizing: content-box;
  margin: 0;
  padding: 0;
  font-family: "Lora", serif;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  min-height: 100vh;
}

#root,
.height-min-100 {
  min-height: 100vh;
}

.height-main {
  min-height: calc(100vh - 200px);
}

main {
  margin-bottom: 120px;
  /*min-height: 400px;*/
  /*margin-left: calc(3/12*100%);*/
  /*width: calc(9/12*100%);*/
}
.width-content {
  max-width: 786px;
}

/*@media only screen and (max-width: 768px) {*/
/*  .height-main {*/
/*      min-height: calc(100vh - 50px);*/
/*  }*/
/*}*/
@media only screen and (max-width: 380px) {
  .height-main {
    min-height: calc(100vh - 100px);
  }
}
/*!*@media only screen and (max-width: 400px) {*!*/
/*  .height-main {*/
/*      min-height: calc(100vh - 100px);*/
/*  }*/
/*}*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.w-100px {
  width: 100px;
}

.w-200px {
  width: 200px;
}

.w-250px {
  width: 2500px;
}

.w-300px {
  width: 300px;
}

.w-350px {
  width: 350px;
}

.w-400px {
  width: 400px;
}

.w-500px {
  width: 500px;
}
