
:root {
  --primary-bg-color: #002233;
  --secondary-bg-color: #002f5c;
  --text-color: #c8c8c8;
  --accent-color: salmon;
}
* {
  box-sizing: content-box;
  margin: 0;
  padding: 0;
  font-family: 'Lora', serif;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
